body{
    background-image:url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/507/original/5563101.jpg?1706411299") ;
    background-size: cover; /* Adjust the size property as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; 
    font-family: Helvetica, Arial, sans-serif;

}


a {
    color:  #7B5747;
  }



.container{
    margin: 50px auto;
    max-width: 600px;
    


}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.5;

  }

  .gradient-text {
    background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }

header{
    margin-bottom: 30px;

}

form {
    text-align: center;
     padding: 30px;
     background-color: white;
     box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
     border-radius: 10px;
     display: flex;
     margin-bottom: 20px;
     }


  .form-container{
    margin: 80px auto;
    padding: 15px 20px;
    
    

  }
  .instruction{
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
    width: 80%;
  }
  .button {
    margin-left: 10px;
    width: 150px;
    background:#ffc93c;  
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
  }

  .recipe {
  font-size: 16px;
  background-color:  #FFEBB6;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid  rgb(255, 201, 60);
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}


.hidden {
    display: none;
  }
  

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
  }

  .hint {
    opacity: 40%;
    padding: 5px;
    margin-left: 14px;
    font-size: 14px;
  }

  .generating {
    animation: blink-animation 1s steps(10, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }